.navbar-glass {
  position: sticky;
  top: 0;
  z-index: 999;

  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  background: rgba(255, 255, 255, 0.4);

  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.navbar-container {
  height: 76px;
}

/* LOGO */
.navbar-logo {
  font-size: 1.3rem;
  font-weight: 700;
}

/* LINKS */
.navbar-link {
  position: relative;
  transition: all 0.25s ease;
}

.navbar-link:hover {
  color: #1e40af;
  transform: translateY(-1px);
}

/* underline animado */
.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #1d4ed8;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

/* AVATAR */
.navbar-avatar {
  transition: all 0.2s ease;
}

.navbar-avatar:hover {
  transform: scale(1.1);
}